@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.ol-popup {
  position: absolute;
  background-color: white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
  min-width: 250px;
  font-size: 14px;
  z-index: 1000;
}

.ol-popup-closer {
  text-decoration: none;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #ff5c5c;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 12px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.ol-popup-closer:hover {
  background-color: #ff1c1c;
}
.popup-content img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  border-radius: 8px;
}

.popup-content img {
  display: block;
  margin: 10px auto;
  max-width: 100%;
  border-radius: 8px;
}

.popup-content h3 {
  margin: 5px 0;
  text-align: center;
}

.popup-content p {
  margin: 5px 0;
  text-align: center;
}

#layer-control {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #f8f9fa;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 300px;
}

#layer-control .checkbox-group {
  margin-top: 10px;
}
.layer-control-header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}/* Smooth scrollbar styling */
#layer-control::-webkit-scrollbar {
  width: 8px;
}

#layer-control::-webkit-scrollbar-thumb {
  background-color: #6c757d;
  border-radius: 4px;
}

#layer-control::-webkit-scrollbar-thumb:hover {
  background-color: #495057;
}
.traffic-list {
  position: absolute;
  top: calc(150px + 150px); /* Adjust height dynamically based on layer control */
  right: 1px;
  width: 300px;
  max-height: 300px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
  display: none; /* Hidden by default */
}

.traffic-list h4 {
  margin: 0 0 10px 0;
  font-size: 16px;
  font-weight: bold;
  color: #333;
  text-align: center;
}

.traffic-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.traffic-list ul li {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.traffic-list ul li::before {
  content: "•";
  color: #007BFF;
  font-size: 20px;
  margin-right: 8px;
}

.traffic-list ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-left: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
